/* ---------------------------------About Us---------------------------------*/

  /* ---------------------------------Historia---------------------------------*/

  .Historia {
    display: grid;
    background: rgb(36, 39, 69);
    background: linear-gradient(6deg, rgba(36, 39, 69, 1) 0%, rgba(205, 104, 79, 1) 100%);
    text-align: justify;
    font-family: 'Aleo', sans-serif;

    @media (min-width: 0px) and (max-width:$sm)  {


    height: 30rem;
    width: 100vw;
    grid-template-areas: "Titulo" "Foto1" "Texto1";
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 30%;
    gap: 1rem;

    .Foto1 {
      width: 70%;
      height: auto;
      border-radius: 50px;
    }

    .Texto1 {
      /* height: 10rem; */
      width: 80%;
      font-size: 0.9rem;
      align-self: center;
      font-size: 0.9rem;

    }

    }

    @media (min-width: $sm) and (max-width:$md)  {
  
      height: 40rem;
      width: 100vw;
      grid-template-areas: 
      "Titulo" 
      "Foto1" 
      "Texto1";
      grid-template-columns: 100%;
      grid-template-rows: 20% 40% 40%;
      gap: 1rem;
  
      .Foto1 {
        width: 70%;
        height: auto;
        border-radius: 50px;
      }
  
      .Texto1 {
        width: 80%;
        font-size: 10rem;
        align-self: center;
        font-size: 1.5rem;

      }
  
      }

    @media (min-width: $md) and (max-width:$lg)  {

        height: 40rem;
        width: 100vw;
        grid-template-areas: "Titulo Titulo" "Texto1 Foto1";
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 70%;
        gap: 1rem;
    
        .Foto1 {
          width: 70%;
          height: auto;
          border-radius: 50px;
        }
    
        .Texto1{
         /*  height: 5rem; */
          width: 90%;
          font-size: 1.5rem;
        }
    
        }
  
    .Titulo {
      grid-area: Titulo;
    }

    .Texto1 {
      grid-area: Texto1;
      justify-self: center;
      align-self: center;
      color: white;
      /* height: 20rem;
      width: 25rem; */
    }
    
    .Foto1 {
      grid-area: Foto1;
      justify-self: center;
      align-self: center;
      /* width: 70%;
      height: auto; */
      border-radius: 50px;
    }


  }
  
  /* ---------------------------------Equipos---------------------------------*/

  /* 

  .Equipo {
    display: grid;
    background: rgb(36, 39, 69);
    background: linear-gradient(166deg, rgba(36, 39, 69, 1) 0%, rgba(205, 104, 79, 1) 100%);
    justify-self: center;
    align-self: center;

    @media (min-width: 0px) and (max-width:$sm)  {
    width: 100vw;
    height: 140rem;
    grid-template-areas: 
    "Titulo"
    "Tarjetas";
    grid-template-columns: 100%;
    grid-template-rows: 20% 70%;
    }

    @media (min-width: $sm) and (max-width:$md)  {
      width: 100vw;
      height: 120rem;
      grid-template-areas: 
      "Titulo"
      "Tarjetas";
      grid-template-columns: 100%;
      grid-template-rows: 20% 80%;
      }

      @media (min-width: $md) and (max-width:$lg)  {
        width: 100vw;
        height: 120rem;
        grid-template-areas: 
        "Titulo"
        "Tarjetas";
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        }


  
    .Titulo {
      grid-area: Titulo;
      justify-self: center;
      align-self: center;
    }
  
    .Tarjetas {
      grid-area: Tarjetas;
      display: flexbox;
      flex-direction: row;
      align-items: center;
      font-family: 'Aleo', sans-serif;
      justify-self: center;
      align-self: center;
      width: 100vw;
      height: auto;
    }
  }
  
  .Tarjetas {

    @media (min-width: 0px) and (max-width:$sm){

      article {
        width: 10rem;
        height: 38rem;
      }
    }

    @media (min-width: $sm) and (max-width:$md){

      article {
        width: 20rem;
        height: 30rem;
      }
    }

    @media (min-width: $md) and (max-width:$lg){

      article {
        width: 20rem;
        height: 30rem;
      }

    }
    

    h3 {
      text-align: center;
    }
  
    h2 {
      text-align: center;
      padding-top: 1rem;
    }
  
    article {
      display: inline-block;
      background: rgb(36, 39, 69);
      background: linear-gradient(166deg, rgba(36, 39, 69, 1) 0%, rgba(205, 104, 79, 1) 100%);
      border-style: solid;
      border-width: 0.2rem;
      text-align: justify;
      color: white;
      border-color: rgb(36, 39, 69);
      padding: 1rem;
      justify-self: center;
      align-self: center;
    }
  
    p {
      width: 100%;
      height: 20rem;
      font-size: 10px;
    }
  } */


  .Equipo {
    width:100vw ;
    background: rgb(36, 39, 69);
    background: linear-gradient(166deg, rgba(36, 39, 69, 1) 0%, rgba(205, 104, 79, 1) 100%);

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding-bottom: 1rem;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  height: 2rem;
}
  }