

  /* ---------------------------------Index---------------------------------*/
  
  .Carrusel {
    display: grid;
    text-align: center;
    font-family: 'Aleo', sans-serif;
    color: whitesmoke;
    background: rgb(36, 39, 69);
    background: radial-gradient(circle, rgba(36, 39, 69, 1) 18%, rgba(205, 104, 79, 1) 100%);
    max-width: 100%;
    height: 26rem;
    grid-template-areas: "Titulo" "Carrusel1";
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  
    .Titulo {
      grid-area: Titulo;
      justify-self: center;
      align-self: center;
      
      padding-top: 1rem;
    }
  
    #Carrusel1 {
      grid-area: Carrusel1;
      justify-self: center;
      align-self: center;
      max-width: 100%;
      height: auto;
    }
  }
  
  .fotosComents {
    grid-area: fotosComents;
    justify-self: center;
    align-self: center;
    width: 10%;
    height: 30%;
    border-radius: 50%;
  }
  
  .Descrip1 {
    grid-area: Descrip1;
    justify-self: center;
    align-self: center;
    padding-top: 1rem;
  }
  
  .Comentarios p {
    padding-top: 1rem;
  }

  /* --------------------------------- Logos, Fotos e insertos ---------------------------------*/

.discordFixed {
    a {
      display: flex;
      position: fixed;
      bottom: 1.8%;
      left: calc(100vw - 185px);
      border-radius: 5%;
      background-color: #7289da;
  
      /*     justify-content: space-evenly;
       */
  
      font-family: 'Aleo', sans-serif;
      padding: 0.5rem;
      width: 10rem;
      height: 3.4rem;
      text-decoration: none;
      font-size: 0.8rem;

      img {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
      }

      img:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

      
    
      p {
        display: block;
        text-align: left;
        padding-left: 0.3rem;
        color: white;
      }

    }
  
    

    @media (min-width: 0px) and (max-width:$sm)  {
      
      a{
        background-color: unset;
        left: calc(100vw - 90px);
        bottom: 4%;
        p{
          display: none;
        }

        img {
          display: block;
          width: 4rem;
          height: 4rem;
        }
      }
    }

  }
  
