

  /* ---------------------------------Index---------------------------------*/
  
  .Carrusel {
    display: grid;
    text-align: center;
    font-family: 'Aleo', sans-serif;
    color: whitesmoke;
    background: rgb(36, 39, 69);
    background: radial-gradient(circle, rgba(36, 39, 69, 1) 18%, rgba(205, 104, 79, 1) 100%);
    width: 100vw;
    height: 26rem;
    grid-template-areas: "Titulo" "Carrusel1";
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  
    .Titulo {
      grid-area: Titulo;
      justify-self: center;
      align-self: center;
      width: 100vw;
      padding-top: 1rem;
    }
  
    #Carrusel1 {
      grid-area: Carrusel1;
      justify-self: center;
      align-self: center;
      width: 100vw;
      height: auto;
    }
  }
  
  .fotosComents {
    grid-area: fotosComents;
    justify-self: center;
    align-self: center;
    width: 10%;
    height: 30%;
    border-radius: 50%;
  }
  
  .Descrip1 {
    grid-area: Descrip1;
    justify-self: center;
    align-self: center;
    padding-top: 1rem;
  }
  
  .Comentarios p {
    padding-top: 1rem;
  }

  /* --------------------------------- Logos, Fotos e insertos ---------------------------------*/

.discordFixed {
    a {
      display: flex;
      position: fixed;
      bottom: 1.8%;
      left: calc(100vw - 185px);
      border-radius: 5%;
      background-color: #7289da;
  
      /*     justify-content: space-evenly;
       */
  
      font-family: 'Aleo', sans-serif;
      padding: 0.5rem;
      width: 10rem;
      height: 3.4rem;
      text-decoration: none;
      font-size: 0.8rem;

      img {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
      }
    
      p {
        display: block;
        text-align: left;
        padding-left: 0.3rem;
        color: white;
      }

    }
  
    

    @media (min-width: 0px) and (max-width:$sm)  {
      
      a{
        background-color: unset;
        left: calc(100vw - 90px);
        bottom: 4%;
        p{
          display: none;
        }

        img {
          display: block;
          width: 4rem;
          height: 4rem;
        }
      }
    }

  }
  
  .fotoTeam img {
    display: block;
    height: 10rem;
    margin-left: auto;
    border-radius: 50%;
    width: 100%;
  }

  /* --------------------------------- Footer ---------------------------------*/

.preFooter{

  background-color: black;
  display: grid;
  color: whitesmoke; 

  @media (min-width: 0px) and (max-width:$sm)  {
  width: 100vw;
  height: 50rem;
  grid-template-areas: 
  "logoFooter"
  "FLista1" 
  "FLista2"
  "Redeslogos"
  "end";
  grid-template-columns: 100%;
  grid-template-rows: 30% 25% 20% 10% 10%;
  align-items: center;

  .FooterLista1{
    justify-self: center;
    align-self: center;
  }

  .FooterLista2{
    justify-self: center;
    align-self: center;
  }

  }

  @media (min-width: $sm) and (max-width:$md){
    width: 100vw;
  height: 30rem;
  grid-template-areas: "logoFooter FLista1 FLista2" "Redeslogos Redeslogos Redeslogos" "end end end";
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 70% 15% 15%;
  align-items: center;

  }

  @media (min-width: $md) and (max-width:$lg){
    width: 100vw;
  height: 30rem;
  grid-template-areas: "logoFooter FLista1 FLista2" "Redeslogos Redeslogos Redeslogos" "end end end";
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 60% 10% 30%;
  align-items: center;

  }
  


.logoFooter{
    grid-area: logoFooter;
    height: auto;
    width: 50%;
    justify-self: center;
    
  }

.FooterLista1{
    grid-area: FLista1;
    height: auto;
    width: 60%;
        li{
          background-color:black;
          color: white;
          font-family: 'Aleo', sans-serif;
        }
    /* justify-self: left; */
  }

.FooterLista2{
    grid-area: FLista2;
    height: auto;
    width: 60%;
    li{
      background-color: black;
      color: white;
      font-family: 'Aleo', sans-serif;
      
    }
    /* justify-self: left; */
  }

  .Redeslogos{
    grid-area: Redeslogos;
    justify-self: center;
    align-self: center;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    a{
      display: inline-block;
      padding: 0.5em;
      background-color: rgb(214, 106, 83);
        border-radius: 60%;

      svg{  
        color: white;
        width: 40px;
        height: 40px;
        
      }

    }

  }

}

.End {
  grid-area: end;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    font-family: 'Aleo', sans-serif;
    width: 100%;
    /* height: 4em; */
  }

  