/* --------------------------------- Titulos---------------------------------*/

.Titulo h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Aleo', sans-serif; 
    padding: 1rem;    
    font-size: 3rem;
    color: white;
    width: auto;
    height: auto;
}
.Titulo2 h1{

    text-align: center;
    text-transform: uppercase;
    font-family: 'Aleo', sans-serif; 
    padding: 1rem;    
    font-size: 3rem;
    color: whitesmoke;
}
